<div class="pag">
    <div class="form-body">
        <p class="text">Modificar Libro</p>
        <form class="login-form">
            <input type="number" #Id_book placeholder="Libro">
            <input type="text" #title placeholder="Titulo">
            <input type="text" #type placeholder="Tapa blanda/dura">
            <input type="text" #author placeholder="Autor">
            <input type="text" #price placeholder="Precio">
            <input type="text" #photo placeholder="Photo">
            <button (click)="updateBook(title.value, type.value, author.value, price.value, photo.value, Id_book.value)" type="button">Modificar Libro</button>
        </form>
    </div>
    </div>
