<div class="container">
    <div class="form-body">
        <p class="text">Modificar Libro</p>
        <form (ngSubmit)="updateBook" class="login-form">
            <input type="number" id="id_book" name="id_book" [(ngModel)]="bookToUpdate.id_book" [ngModelOptions]="{standalone: true}" placeholder="Libro" required>
            <input type="text" id="id_user" [(ngModel)]="bookToUpdate.id_user" [ngModelOptions]="{standalone: true}" placeholder="Usuario" required>
            <input type="text" id="title" [(ngModel)]="bookToUpdate.title" [ngModelOptions]="{standalone: true}" placeholder="Titulo" required>
            <input type="text" id="type" [(ngModel)]="bookToUpdate.type" [ngModelOptions]="{standalone: true}" placeholder="Tapa blanda/dura" required>
            <input type="text" id="author" [(ngModel)]="bookToUpdate.author" [ngModelOptions]="{standalone: true}" placeholder="Autor" required>
            <input type="text" id="price" [(ngModel)]="bookToUpdate.price" [ngModelOptions]="{standalone: true}" placeholder="Precio" required>
            <input type="text" id="photo" [(ngModel)]="bookToUpdate.photo" [ngModelOptions]="{standalone: true}" placeholder="Photo" required>
            <button type="submit">Modificar Libro</button>
        </form>
    </div>
    </div>
