
    <div [ngClass]="{'even-card': even, 'odd-card': !even}">
        <div class="card">
            <button class="btnX" type="button" (click)="eliminarTarjeta(datosBook)">X</button>
            <img src={{datosBook.photo}}>
            <h4>Grandes Literaturas</h4>
            <h2>{{ datosBook.title }}</h2>
            <p>Autor: {{ datosBook.author }}</p>
            <p> {{ datosBook.id_book | codigo }}</p>
            <p>{{ datosBook.price }} €</p>
            <button class="btn" type="button">Comprar</button>
        </div>
    </div>


