*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.pag{
    /* border: 3px solid red; */
    height:100vh;
    background-image: url("../../../../src/assets/img/FONDO.SHADOW.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.contenido{
    /* border: 3px solid rgb(0, 255, 42); */
    height:55vh;
    width: 80%;
    margin-top: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
}


