*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home{
    border:3px solid red;
    height: 100vh;
    


    
}
/* .lila{
    width: 100%;
    height: 50%;
    background-color: rgb(103, 33, 201);

    display: flex;
    justify-content: center;
    align-items: center;
}
    .peqAmarilla{
        width: 100%;
        height: 10%;
        background-color: rgb(226, 198, 83);
    }
.amarilla{
    width: 100%;
    height: 50%;
    background-color: rgb(226, 198, 83);
} */